#npform {
    background-color: #cad2c5;
    width: 50%;
    margin: auto;
    border-radius: 12px 12px 0 0;
}

#Project_Title {
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 12px 12px 0 0;
    text-align: center;
    font-size: 32px;
}

    #Project_Title::placeholder {
        text-align: center;
    }

#Version_num {
    text-align: left;
    width: 143px;
}

    #Version_num::placeholder {
        text-align: left;
    }

#Description {
    width: -webkit-fill-available;
    width: -moz-available;
    height: 107px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0;
}

#Categories {
    width: 70%;
    height: 41px;
    display: inline;
    margin-right: 10px
}

#Repository {
    width: 75%;
    height: 41px;
    display: inline;
    margin-right: 10px
}

.tagsDiv {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.tagsDiv:hover {
    overflow-x: scroll;
}

.tags {
    display: inline-block;
    flex-direction: row;
    background-color: #2f3e46;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 12px;
    border: none;
    border-radius: 6px;
    width: max-content;
    cursor: pointer;
    padding: 10px;
}

#addCategory {
    border: none;
    border-radius: 6px;
    background-color: white;
    color: #2f3e46;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

    #addCategory:active {
        box-shadow: none;
    }

#addUpdate {
    border: none;
    border-radius: 6px;
    background-color: white;
    color: #2f3e46;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 60px;
    margin-top: 20px;
    margin: auto;
    display: flex
}

#Roadmap {
    width: inherit;
    height: 177px; 
    border-radius: 0;
}

#Changes {
    width: -webkit-fill-available;
    width: -moz-available;
    height: 177px;
    border-radius: 0;

}

.versionDiv {
    background-color: #b3c1b1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: -webkit-fill-available;
    width: -moz-available;
    overflow-x: scroll;
}

.newProjectItem {
    display: block;
    background: white;
    color: #2F4F4F;
    margin-bottom: 20px;
    display: block;
    border: none;
    border-radius: 0 6px 6px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 0px;
}

#submit {
    background-color: #2f3e46;
    color: white;
    border: none;
    /* border-radius: 12px 12px 0 0; */
    border-radius: 0 0 12px 12px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    width: -webkit-fill-available;
    width: -moz-available;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.delete {
    width: 36px;
    height: 36px;
    position: relative;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-self: end;
}

.updateList {
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
}

.update {
    background-color: #b3c1b1;
    margin: 10px;
    padding: 10px;
    padding-left: 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.changelogLabel {
    background-color: #96a194;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 6px 6px 0;
    font-size: 20px;
}

@media screen and (max-width: 1024px){
    #npform {
        background-color: #cad2c5;
        width: 90%;
        margin: auto;
        border-radius: 12px 12px 0 0;
    }
}
