.display {
  display: inline-block;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 12px;
  margin-left: 60px;
  margin-top: 80px;
  z-index: 0;
  width: 25%;
}

.display:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.displaytitle {
  background-color: #2f3e46;
  /* box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18),; */
  color: white;
  /* display: inline-block; */
  text-align: center;
  z-index: 0;
  border-radius: 12px 12px 0 0;
  cursor: pointer;
  vertical-align: middle;
  padding: 20px;
  margin: 0px;
}

.descriptionDiv {
  background-color:white;
  width: -webkit-fill-available;
  width: -moz-available;
  height: 200px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

.descriptionDiv:hover {
  height: 200px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

.creatorName {
  display: inline-block;
  font-size: 16px;
  position: relative;
  bottom: 25px;
  margin-left: 12px;
  background-color: #2f3e46;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.tagDiv {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

.tagDiv:hover {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

.tags {
  display: inline-block;
  flex-direction: row;
  background-color: #2f3e46;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 12px;
  border: none;
  border-radius: 6px;
  padding: 10px;
  width: max-content;
}

.projectFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete {
  width: 36px;
  height: 36px;
  vertical-align: middle;
  cursor: pointer;
}

.edit {
  width: 36px;
  height: 36px;
  cursor: pointer;
  vertical-align: middle;
}

.offline {
  width: 48px;
  height: 48px;
  cursor: pointer;
  vertical-align: middle;
  display: flex;
  margin: auto;
  position: relative;
  top: 45px;
}

@media screen and (max-width: 1024px) {
  .display {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    display: flow-root;
  }
}
