.head {
    background: #CAD2C5;
    border-radius: 12px;
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head>img {
    vertical-align: middle;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.creatorpic {
    width: 48px;
    height: 48px;
    display: inline-block;
    border: none;
    border-radius: 365px;
    z-index: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
}

.descriptionDiv {
    background-color: #CAD2C5;
    height: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.descriptionDiv:hover {
    background-color: #CAD2C5;
    height: 200px;
    overflow-y: scroll;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

/*.descriptionText {
    background-color: #CAD2C5;
}*/

.usernameLabel {
    border: none;
    border-radius: 0 6px 6px 0;
    vertical-align: middle;
    background-color: #2f3e46;
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18),;
    color: white;

}

.changeName {
    width: 178px;
    height: 30px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    text-align: center;
    color: #2f3e46;
    font-weight: bold;
    margin: auto;
    vertical-align: middle;
}

.creatorName {
    display: inline-block;
    font-size: 16px;
    position: relative;
    bottom: 25px;
    margin-left: 12px;
    z-index: 0;
    background-color: #2f3e46;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 10px
}

.save {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    margin-left: 20px;
    vertical-align: middle;
    margin-left: 20px;
}

.projectFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control {
    margin: auto;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    background-color: #2F3E46;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 5px;
    border: none;
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 25%;
    right: 25%;
    bottom: 0;
}

#svg {
    color: white
}

.delete {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    cursor: pointer;
    margin: 10px
}

.edit {
        width: 32px; 
        height: 32px;
        vertical-align: middle;
        cursor: pointer;
        margin: 10px;
}

.description {
    text-align: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
    background-color: black;
    margin: auto;
    font-size: larger;
    padding: 15px;
    border: none;
    border-radius: 12px;
    margin-bottom: 20px;
    color: #E1E9E6;
}

.textHead {
    background-color: black;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: #E1E9E6;
    margin: auto;
    text-align: center;
    width: max-content;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
}

.display {
    display: inline-block;
    background-color: #cad2c5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
    border: none;
    border-radius: 12px;
    margin: 20px;
    margin-top: 80px;
    z-index: 0;
    width: 300px;
}

.userDisplay {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 12px;
    width: 90%;
    margin: auto;
    margin-top: 80px;
    z-index: 0;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    margin-bottom: 80px;
}

.text {
    background-color: #ffffff;
}

.repository{
    width: max-content;
    background-color:#2f3e46;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    z-index: 0;
    border-radius: 6px;
    cursor: pointer;
    vertical-align: middle;
    padding: 12px;
    display: flex;
    font-weight: bold;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
}

.tags {
    display: inline-block;
    flex-direction: row;
    background-color: #2f3e46;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 12px;
    border: none;
    border-radius: 6px;
    width: max-content;
    cursor: pointer;
    padding: 10px;
}

.goal {
    width: inherit;
    display: inline-block;
    flex-direction: row;
    background-color: #84a98c;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 6px;
}

.change {
    display: inline-block;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    background-color: #2f3e46;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 12px;
    border: none;
    border-radius: 6px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    cursor: pointer;
    padding: 10px;
}

.userDisplayTags {
    display: inline;
    color: black;
    margin: 12px;
    border: none;
    border-radius: 6px;
    overflow-x: hidden;
    flex-direction: row;
}

.userDisplayTags:hover {
    display: inline;
    color: black;
    margin: 12px;
    border: none;
    border-radius: 6px;
    overflow-x: scroll;
    flex-direction: row;
}

.displaytitle {
    background-color: #2f3e46;
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18),;
    color: white;
    z-index: 0;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 15px;
    font-size: xxx-large;
}

.button {
    -moz-appearance:none !important;
    margin: auto;
    border: none;
    display: inline;
    vertical-align: center;
    width: 24px; 
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.searchtype {
    -moz-appearance:none !important;
    padding: 15px;
    background-color: #cad2c5;
    color: #2f3e46;
    border: none;
    font-weight: bold;
    border-radius: 12px;
    margin: 0;
}

.list {
    background-color: #cad2c5;
    margin-bottom: 20px;
    border-radius: 6px;
}

.tagDiv {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.tagDiv:hover {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.changeDiv {
    display: flex;
    flex-direction: column;
    width: inherit;
}

.changeDiv:hover {
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.updateList {
    overflow-x: hidden;
    display: flex;
    flex-direction: row-reverse;
}

.updateList:hover {
    overflow-x: scroll;
    display: flex;
    flex-direction: row-reverse;
}

.update {
    background-color: #E1E9E6;
    margin: 10px;
    padding: 10px;
    padding-left: 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 300px;
}

.changelogLabel {
    background-color: black;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 6px 6px 0;
    color: #E1E9E6;
    text-align: center;
    width: max-content;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
}

.inquisite {
    display: none;
    align-items: center;
    background-color: #b3c1b1;
    width: max-content;
    border-radius: 0 12px 12px 0;
    box-shadow: 0px 4px 4px rgba(90, 72, 72, 0.25);
    margin: 20px 0 20px 0
}

.withininquisite {
    margin: 10px;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .repository {
        font-size: x-small;
    }
}
